.main-page {
    height: calc(100vh);
    margin-top: 50px;
    background: url(../pictures/bg.jpg) center/cover;
    display: flex;
    justify-content: center;
    align-items: center;

    &__title {
        font-size: 3em;
        font-weight: 700;
        color: cyan;
        margin-bottom: 10px;
    }

    &__sub-title {
        font-size: 1.54em;
        font-weight: 700;
        color: cyan;
        margin-bottom: 10px;
        background: #880EE5;
        background: -moz-linear-gradient(left, #880EE5 0%, #B7288F 42%, #B63628 100%);
        background: -webkit-linear-gradient(left, #880EE5 0%, #B7288F 42%, #B63628 100%);
        background: linear-gradient(to right, #880EE5 0%, #B7288F 42%, #B63628 100%);
    }

    
}


